{% extends "buchi_wk/base.html" %}

{% block content %}


<hr>
<h1>fontawesome</h1>

<p><i class="fab fa-twitter"></i>twitter</p>

<p><i class="fab fa-twitter twitter-blue"></i>twitter</p>
<p><i class="fab fa-facebook-square facebook-blue"></i>facebook</p>
<p><i class="fab fa-google google-red"></i>Google</p>
<p><i class="fab fa-line line-green"></i>LINE</p>

<p><i class="fab fa-twitter fa-xs"></i>fa-xs</p>
<p><i class="fab fa-twitter fa-sm"></i>fa-sm</p>
<p><i class="fab fa-twitter fa-lg"></i>fa-lg</p>
<p><i class="fab fa-twitter fa-2x"></i>fa-2x</p>
<p><i class="fab fa-twitter fa-3x"></i>fa-3x</p>
<p><i class="fab fa-twitter fa-4x"></i>fa-4x</p>
<p><i class="fab fa-twitter fa-5x"></i>fa-5x</p>

<table border="1"> 
  <tr>
    <td><p><i class="fab fa-twitter fa-rotate-90"></i>rotate-90</p></td>
    <td><p><i class="fab fa-twitter fa-rotate-180"></i>rotate-180</p></td>
    <td><p><i class="fab fa-twitter fa-rotate-270"></i>rotate-270</p></td>
    <td><p><i class="fab fa-twitter fa-flip-horizontal"></i>flip-h</p></td>
    <td><p><i class="fab fa-twitter fa-flip-vertical"></i>flip-v</p></td>
  </tr>
</table>

<p><i class="fab fa-twitter faa-wrench animated"></i>wrench animated</p>
<p><i class="fab fa-twitter faa-ring animated"></i>ring animated</p>
<p><i class="fab fa-twitter faa-horizontal animated"></i>horizontal animated</p>
<p><i class="fab fa-twitter faa-vertical animated"></i>vertical animated</p>
<p><i class="fab fa-twitter faa-flash animated"></i> flash animated </p>
<p><i class="fab fa-twitter faa-bounce animated"></i>bounce animated</p>
<p><i class="fab fa-twitter faa-spin animated"></i>spin animated</p>
<p><i class="fab fa-twitter faa-float animated"></i> float animated </p>
<p><i class="fab fa-twitter faa-pulse animated"></i> pulse animated </p>
<p><i class="fab fa-twitter faa-shake animated"></i> shake animated </p>
<p><i class="fab fa-twitter faa-tada animated"></i>tada animated</p>
<p><i class="fab fa-twitter faa-passing animated"></i> passing animated </p>
<p><i class="fab fa-twitter faa-passing-reverse animated"></i> passing-reverse animated </p>
<p><i class="fab fa-twitter faa-burst animated"></i> burst animated </p>



<hr>
<h1>Bootstrap</h1>

<hr>
<h2>Responsiv_container</h2>

<!--ブレイクポイント       ／ 画面幅        ／.container幅
    .col-xs- ／Extra small ／       ~  544px／ auto
    .col-sm- ／Small       ／ 544px ~  768px／ 576px
    .col-md- ／Medium      ／ 768px ~  992px／ 720px
    .col-lg- ／large       ／ 992px ~ 1200px／ 940px
    .col-xl- ／Extra large ／1200px ~       ／1140px

    .col-画面幅-グリッド数（画面が大きければ少ないグリッドでいい）
    -->

<header style="background-color:gray">Header</header>
<h3>container</h3>
<div class="container">
    <div class="row">
      <div class="col-sm-1  col-md-3 col-lg-2 col-xl-1 " style="background-color:#c0A0c0;">1</div>
      <div class="col-sm-2  col-md-3 col-lg-2 col-xl-1 " style="background-color:#b0A0b0;">2</div>
      <div class="col-sm-3  col-md-3 col-lg-2 col-xl-1 " style="background-color:#a0A0a0;">3</div>
      <div class="col-sm-4  col-md-3 col-lg-2 col-xl-1 " style="background-color:#90A090;">4</div>
      <div class="col-sm-5  col-md-3 col-lg-2 col-xl-1 " style="background-color:#80A080;">5</div>
      <div class="col-sm-6  col-md-3 col-lg-2 col-xl-1 " style="background-color:#70A070;">6</div>
      <div class="col-sm-7  col-md-3 col-lg-2 col-xl-1 " style="background-color:#60A060;">7</div>
      <div class="col-sm-8  col-md-3 col-lg-2 col-xl-1 " style="background-color:#50A050;">8</div>
      <div class="col-sm-9  col-md-3 col-lg-2 col-xl-1 " style="background-color:#40A040;">9</div>
      <div class="col-sm-10 col-md-3 col-lg-2 col-xl-1 " style="background-color:#30A030;">10</div>
      <div class="col-sm-11 col-md-3 col-lg-2 col-xl-1 " style="background-color:#20A020;">11</div>
      <div class="col-sm-12 col-md-3 col-lg-2 col-xl-1 " style="background-color:#10A010;">12</div>
    </div>
</div>

<h3>container-fluid</h3>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1  col-md-3 col-lg-2 col-xl-1 " style="background-color:#c0A0c0;">1</div>
      <div class="col-sm-2  col-md-3 col-lg-2 col-xl-1 " style="background-color:#b0A0b0;">2</div>
      <div class="col-sm-3  col-md-3 col-lg-2 col-xl-1 " style="background-color:#a0A0a0;">3</div>
      <div class="col-sm-4  col-md-3 col-lg-2 col-xl-1 " style="background-color:#90A090;">4</div>
      <div class="col-sm-5  col-md-3 col-lg-2 col-xl-1 " style="background-color:#80A080;">5</div>
      <div class="col-sm-6  col-md-3 col-lg-2 col-xl-1 " style="background-color:#70A070;">6</div>
      <div class="col-sm-7  col-md-3 col-lg-2 col-xl-1 " style="background-color:#60A060;">7</div>
      <div class="col-sm-8  col-md-3 col-lg-2 col-xl-1 " style="background-color:#50A050;">8</div>
      <div class="col-sm-9  col-md-3 col-lg-2 col-xl-1 " style="background-color:#40A040;">9</div>
      <div class="col-sm-10 col-md-3 col-lg-2 col-xl-1 " style="background-color:#30A030;">10</div>
      <div class="col-sm-11 col-md-3 col-lg-2 col-xl-1 " style="background-color:#20A020;">11</div>
      <div class="col-sm-12 col-md-3 col-lg-2 col-xl-1 " style="background-color:#10A010;">12</div>
    </div>
</div>
<footer style="background-color:gray">Footer</footer>


<hr>
<h2>Table</h2>

<div class="container">
    <table class="table">
      <thead>
          <tr>
          <th>#</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          </tr>
      </thead>
      <tbody>
          <tr>
          <th scope="row">1</th>
              <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
              <td>taro.kirameki@example.com</td>
              <td>09011112222</td>
          </tr>
          <tr>
          <th scope="row">2</th>
              <td>煌木 次郎</td>
              <td>jiro.kirameki@example.com</td>
              <td>09033334444</td>
          </tr>
          <tr>
          <th scope="row">3</th>
              <td>煌木 花子</td>
              <td>hanako.kirameki@example.com</td>
              <td>09055556666</td>
          </tr>
      </tbody>
    </table>
</div>

<hr>
<h2>class="table table-striped"</h2>

<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
          <th>#</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          </tr>
      </thead>
      <tbody>
          <tr>
          <th scope="row">1</th>
              <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
              <td>taro.kirameki@example.com</td>
              <td>09011112222</td>
          </tr>
          <tr>
          <th scope="row">2</th>
              <td>煌木 次郎</td>
              <td>jiro.kirameki@example.com</td>
              <td>09033334444</td>
          </tr>
          <tr>
          <th scope="row">3</th>
              <td>煌木 花子</td>
              <td>hanako.kirameki@example.com</td>
              <td>09055556666</td>
          </tr>
      </tbody>
    </table>
</div>

<hr>
<h2>class="table-responsive"</h2>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
          <tr>
          <th>#</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          </tr>
      </thead>
      <tbody>
          <tr>
          <th scope="row">1</th>
              <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
              <td>taro.kirameki@example.com</td>
              <td>09011112222</td>
          </tr>
          <tr>
          <th scope="row">2</th>
              <td>煌木 次郎</td>
              <td>jiro.kirameki@example.com</td>
              <td>09033334444</td>
          </tr>
          <tr>
          <th scope="row">3</th>
              <td>煌木 花子</td>
              <td>hanako.kirameki@example.com</td>
              <td>09055556666</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


<hr>
<h2>class="btn btn-????"</h2>

<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

<hr>
<h2>btn-lg／(default)／btn-sm／btn-xs"</h2>

<p>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>


<hr>
<h2>class="btn-block"</h2>

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>

<hr />
<hr>
<h2>class="form-group"</h2>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr>
<h2>class=”form-horizontal”</h2>

<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

<hr>
<h2>class=”form-inline”</h2>

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form>


{% endblock %}
